@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}